<% include ../partials/header %>

<h1><%= carground.name %> </h1>

<img src="<%= carground.image %>">

<p> <%= carground.description %> </p>

<p>
  <a class="btn btn-success" href="/cargrounds/<%= carground._id %>/comments/new">Add New Comment</a>
</p>

<% carground.comments.forEach(function(comment){ %>
   <p>
     <strong><%= comment.author %></strong> - <%= comment.text %>
   </p>
<% }) %>
<% include ../partials/footer %>
